/* general */
* {
    font-family: 'IBM Plex Mono', monospace;
    font-weight:400;
    font-size: 20px;
    border-color: black;
    box-sizing: border-box;
}
body {
    gap: 0px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

/* Navigation bar */
#navbar {
    display: inline-flex;
    width: 100%;
    height: 125px;
    justify-content: space-around;
    align-items: center;
    align-content: middle;
    background-color:  rgb(50, 236, 249, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-bottom-width: 0px;
    height: auto;
}
#navbar:hover {
    background-color: rgba(189, 235, 36, 0.75);
    border-radius: 0px;   
}
#vvrs_logo {
    max-height: 120px;
}
#title h1 {
    display: inline-block;
    font-size: 150%;
    font-weight: 500;
}
/* Actions is a div containing buttons */
#actions {
    justify-content: flex-end;
    display: inline-flex;
    gap: 20px;
}
button {
    color: azure;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    background-color: rgba(46, 240, 191, 0.5);
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
button:hover {
    background-color: rgb(240, 248, 255);
    border-radius: 0px;
    color: black;
}
.button_label {
    font-weight: 300;
}
.button_label {
    font-size: larger;
    padding: 10px;
    padding-top: 20px;
}

/* Main content panel */
#main-panel {
    display: grid;
    justify-items: center;
    padding: 5%;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px solid black;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#main-panel img {
    display: inline-flex;
    max-height: 20%;
}
#main-panel p {
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: 350px;
    align-content: center;
    justify-content: center;
    align-content: stretch;
}
#main-panel:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#main-panel p:hover {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#main-panel img:hover {
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
    max-height: 22%;
}

/* For smaller screens */
@media screen and (max-width: 840px) {
    #vvrs_logo {
        max-height: 100px;
    }
    #title h1 {
        font-size: 100%;
    }
    button {
        font-size: small;
    }
    #actions {
        gap: 5px;
    }
    #main-panel {
        padding: 2%;
        gap: 0px;
        grid-template-columns: 1fr;
    }
    #main-panel img {
        max-height: 15%;
    }
    #main-panel img:hover {
        max-height: 20%;
    }
    #main-panel p {
        font-size: 14px;
    }
}

/* footer message */
footer {
    display: grid;
    justify-content: center;
}
footer h6 {
    font-size: 20%;
}