* {
    box-sizing: border-box;
    font-family: 'IBM PLex Mono', Courier, monospace;
    border-color: black;    
}
/* default view for large screens */
/* header styling */
header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    border-bottom: 0px;
}
header:hover {
    border-radius: 0px;
    background-color: rgba(195, 241, 89, 0.9);
}
header div {
    display: flex;
    align-items: center;
}
header img {
    max-height: 150px;
}
#title {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}
#actions {
    display: flex;
    gap: 40px;
}
.action-button {
    background-color: aquamarine;
    border-radius: 10px;
}
.action-button:hover {
    background-color: white;
    border-radius: 0px;
}
.button-label {
    font-size: 26px;
    font-weight: 300;
}
footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
/* main pane styling */
#main-pane {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#text-box {
    display: flex;
    align-items: center;
    max-width: 40%;
    border: 2px solid black;
    margin: 5%;
    border-radius: 10px;
}
#text-box:hover {
    color: white;
    background-color: black;
    border-radius: 0px;
}
#text-pane {
    padding: 3%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#text-pane div p {
    display: block;
    padding: 2%;
}
#text-pane div h3 {
    color: white;
    background-color: black;
    padding: 2%;
}
#text-pane div h3:hover {
    color: black;
    background-color: white;
}
#image {
    display: flex;
    align-items: center;
    max-width: 40%;
    border: 2px solid black;
    margin: 5%;
    border-radius: 10px;
}
#image:hover {
    border-radius: 0px;
}
#image img {
    max-width: 500px;
}
/* view for smaller screens */
@media screen and (max-width: 800px) {
    /* header modifications */
    header img {
        max-height: 100px;
    }
    #title {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        font-weight: 500;
    }
    #actions {
        gap: 10px;
    }
    .button-label {
        font-size: 20px;
        font-weight: 300;
    }
    /* main pane modifications */
    #main-pane {
        display: grid;
        justify-content: space-around;
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #text-pane {
        font-size: 20px;
    }
    #text-box {
        max-width: 100%;
        margin: 5%;
    }
    #image {
        max-width: 100%;
    }
    #image img {
        max-width: 400px;
    }
}