/* general */
* {
    font-family: 'IBM Plex Mono', monospace;
    font-weight:400;
    font-size: 20px;
    border-color: black;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 0px;
}
/* Navigation bar */
#navbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: middle;
    background-color:  rgb(50, 236, 249, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-bottom-width: 0px;
    max-height: 200px;
    padding: 1%;
}
#navbar:hover {
    background-color: rgba(189, 235, 36, 0.75);
    border-radius: 0px;   
}
#vvrs-logo {
    max-height: 120px;
}
#title h1 {
    display: inline-block;
    font-size: 150%;
    font-weight: 500;
}
/* Actions is a div containing buttons */
#actions {
    justify-content: flex-end;
    display: inline-flex;
    gap: 20px;
}
button {
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    background-color: rgba(125, 242, 134, 0.5);
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
button:hover {
    background-color: rgb(240, 248, 255);
    border-radius: 0px;
    color: black;
}
.button-label {
    font-weight: 300;
    font-size: larger;
    padding: 10px;
    padding-top: 20px;
}

/* Main content panel */
#main-panel {
    display: grid;
    justify-items: center;
    padding: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#main-panel:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* background-color: rgba(245, 255, 245, 0.5); */
}
#user-icon {
    max-height: 120px;
}
#main-panel h2 {
    font-size: 30px;
    font-weight: 400;
}
#main-panel form {
    display: grid;
    gap: 10px;
    padding: 1%;
    margin: 1%;
}

/* For smaller screens */
@media screen and (max-width: 840px) {
    #vvrs-logo {
        max-height: 100px;
    }
    #title h1 {
        font-size: 100%;
    }
    button {
        font-size: small;
    }
}

/* For smaller screens */
@media screen and (max-width: 840px) {
    #vvrs-logo {
        max-height: 100px;
    }
    #title h1 {
        font-size: 100%;
    }
    button {
        font-size: small;
    }
    #actions {
        gap: 5px;
    }
    #user-icon {
        max-height: 80px;
    }
}

/* footer message */
footer {
    display: flex;
    justify-content: space-around;
}
footer h6 {
    font-size: 10px;
}