* {
    box-sizing: border-box;
    font-family: 'IBM PLex Mono', Courier, monospace;
    border-color: black;    
}

/* default view for large screens */
/* header footer styling */
header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    border-bottom: 0px;
}
header:hover {
    border-radius: 0px;
    background-color: rgba(195, 241, 89, 0.9);
}
header div {
    display: flex;
    align-items: center;
}
header img {
    max-height: 150px;
}
#title {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}
#actions {
    display: flex;
    gap: 40px;
}
.action-button {
    background-color: rgba(195, 241, 89, 0.9);
    border-radius: 10px;
}
.action-button:hover {
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 0px;
}
#logout-button {
    background-color: rgb(254, 210, 20);
    border-radius: 10px;
}
#logout-button:hover {
    background-color: rgb(220, 20, 60);
    border-radius: 0px;
}
.button-label {
    font-size: 26px;
    font-weight: 300;
}
#profile-button-image {
    min-width: 40px;
}
#reportID {
    width: 30%;
    margin: 5%;
    padding: 1%;
    font-size: 20px;
    margin-right: 1%;
}
#searchButton {
    display: inline-flex;
    justify-content: center;
    height: 5%;
    width: 3.5%; 
    font-size: 32px; 
    margin: 5%; 
    margin-left: 1%; 
    padding: 6px;
    background-color: rgba(195, 241, 89, 0.9);
    border-radius: 5px;
}
#searchButton:hover {
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 0px;
}
#newReport, #viewReport {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
#newReportButton, #viewReportButton {
    display: flex;
    justify-content: center;
    width: 20%; 
    font-size: 24px; 
    margin-top: 1%;
    padding: 1%;
    background-color:rgba(195, 241, 89, 0.9);
    border-radius: 5px;
}
#newReportButton:hover, #viewReportButton:hover {
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 0px;
}
footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* view for smaller screens */
@media screen and (max-width: 800px) {
    /* header modifications */
    header img {
        max-height: 100px;
    }
    #title {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    #actions {
        gap: 10px;
    }
    .button-label {
        font-size: 16px;
        font-weight: 300;
    }
    #reportID {
        min-width: 200px;
        margin: 5%;
        padding: 1%;
        font-size: 16px;
        margin-right: 1%;
    }
    #searchButton {
        display: inline-flex;
        height: 5%;
        min-width: 50px; 
        font-size: 20px; 
        margin: 5%; 
        margin-left: 1%; 
        padding: 6px;
    }
    #newReport, #viewReport {
      text-decoration: none;
      justify-content: space-around;
      width: 800px;
      margin-left: -220px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  #profile-button-image {
    height: 30px;
  }
}