* {
    box-sizing: border-box;
    font-family: 'IBM PLex Mono', Courier, monospace;
    border-color: black;    
}

/* default view for large screens */
/* header footer styling */
header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    border-bottom: 0px;
}
header:hover {
    border-radius: 0px;
    background-color: rgba(195, 241, 89, 0.9);
}
header div {
    display: flex;
    align-items: center;
}
header img {
    max-height: 150px;
}
#title {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}
#actions {
    display: flex;
    gap: 40px;
}
.action-button {
    background-color: aquamarine;
    border-radius: 10px;
}
.action-button:hover {
    background-color: white;
    border-radius: 0px;
}
#logout-button {
    background-color: rgb(254, 210, 20);
    border-radius: 10px;
}
#logout-button:hover {
    background-color: rgb(220, 20, 60);
    border-radius: 0px;
}
.button-label {
    font-size: 26px;
    font-weight: 300;
}
#profile-button-image {
    min-width: 40px;
}
footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* main pane styling */
#main-panel {
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 700px;
}
#user-icon {
    max-height: 100px;
    margin-top: 20px;
}
label h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#account-details {
    display: grid;
    justify-items: center;
    padding-bottom: 50px;
}
/* view for smaller screens */
@media screen and (max-width: 800px) {
    /* header modifications */
    header img {
        max-height: 100px;
    }
    #title {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        font-weight: 500;
    }
    #actions {
        gap: 10px;
    }
    .button-label {
        font-size: 20px;
        font-weight: 300;
    }
}